@media print {
    /* Cor de fundo do site */
    body, html{
        background-color: #f5f5f5;
    }
    /* Ocultar Botões de "Contratar-me" e "Baixar Currículo" */
    .header .top-bar.container-fluid .actions {
        display: none;
    }
    /* Ocultar Botões de Redes Sociais */
    .header .top-bar.container-fluid .social {
        display: none;
    }
    /* Ocultar Menu de Navegação das Seções */
    .page-nav-space-holder.d-none.d-md-block {
        display: none !important;
    }
    /* Ocultar Depoimentos */
    #testimonials-section {
        display: none !important;
    }
    /* Ocultar "Contato" */
    #contact-section {
        display: none !important;
    }
    footer {
        display: none !important;
    }
    /* Botão de "Voltar ao Topo" */
    #topcontrol {
        display: none !important;
    }
    /* Ocultar minha foto no "Sobre" */
    #about-section .profile-image {
        display: none !important;
    }
    /* Justificar texto em sobre */
    #about-section p {
        text-align: justify;
    }
    /* Ocultar Projetos */
    #portfolio-section {
        display: none !important;
    }
}