.skills .skill-list-items {
    list-style: none;
}

.skills .skill-item {
    padding: 0;
    padding-right: 15px;
    display: inline-block;
}

.skills .skill-item img {
    width: 50px;
    filter: grayscale(2);
}