.profile-image {
    border-radius: 100%;
    border: 5px solid white;
    background-position: center center;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/images/profile-image.png');
}

#about-section .profile-image {
    position: absolute;
    width: 300px;
    height: 300px;
    right: -80px;
    top: -40px;

    /* border-radius: 0px; */
    background-image: url('/assets/images/profile-image-2.jpg');
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

@media screen and (max-width: 1199px) {
    #about-section .profile-image {
        display: none;
    }
}

#contact-section .section-title {
    margin-bottom: 10px;
}

/* Barra de Rolagem --------------------------------------------------- */

/* width */

::-webkit-scrollbar {
    width: 10px;
    transition-duration: .4s;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}